USE [DVLD_DB]
GO
/****** Object:  View [dbo].[DetainedLicenses_View]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DetainedLicenses_View] AS

SELECT DetainedLicenseID,
	   DL.LicenseID,
	   L.SerialNumber,
	   P.NationalNo,
	   P.FirstName,
	   P.SecondName,
	   P.ThirdName,
	   P.LastName,
	   DetainDate,
	   FineFees,
	   IsReleased,
	   ReleaseApplicationID,
	   ReleaseDate

FROM DetainedLicenses AS DL

INNER JOIN Licenses AS L
	ON DL.LicenseID = L.LicenseID

INNER JOIN Drivers AS D
	ON L.DriverID = D.DriverID

INNER JOIN People AS P
	ON D.PersonID = P.PersonID;
GO
