USE [DVLD_DB]
GO
/****** Object:  View [dbo].[vLDLAppFullInfo]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLDLAppFullInfo] AS 
SELECT LDLA.LocalDrivingLicenseApplicationID, 
		LC.LicenseClassName,		
		P.NationalNo,		
		P.FirstName, 
	    P.SecondName, 
		P.ThirdName, 
		P.LastName, 
		A.ApplicationDate, 
		LDLA.PassedTests, 
		A.ApplicationStatus 

FROM LocalDrivingLicensesApplications AS LDLA 
INNER JOIN Applications AS A 
	ON LDLA.ApplicationID = A.ApplicationID 
INNER JOIN People AS P 
	ON P.PersonID = A.ApplicantPersonID 
INNER JOIN LicenseClasses AS LC 
	ON LC.LicenseClassID = LDLA.LicenseClassID;
GO
