USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[DetainedLicenses]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetainedLicenses](
	[DetainedLicenseID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[DetainDate] [datetime] NOT NULL,
	[FineFees] [decimal](10, 4) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsReleased] [bit] NOT NULL,
	[ReleaseDate] [datetime] NULL,
	[ReleaseApplicationID] [int] NULL,
	[ReleasedByUserID] [int] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetainedLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DetainedLicenses] ON 

INSERT [dbo].[DetainedLicenses] ([DetainedLicenseID], [LicenseID], [DetainDate], [FineFees], [CreatedByUserID], [IsReleased], [ReleaseDate], [ReleaseApplicationID], [ReleasedByUserID], [Notes]) VALUES (45, 7, CAST(N'2026-02-27T19:45:16.400' AS DateTime), CAST(10.0000 AS Decimal(10, 4)), 1, 1, CAST(N'2026-02-27T21:33:09.323' AS DateTime), 202, 1, N'sfdadf')
INSERT [dbo].[DetainedLicenses] ([DetainedLicenseID], [LicenseID], [DetainDate], [FineFees], [CreatedByUserID], [IsReleased], [ReleaseDate], [ReleaseApplicationID], [ReleasedByUserID], [Notes]) VALUES (46, 8, CAST(N'2026-02-28T17:35:34.220' AS DateTime), CAST(10.0000 AS Decimal(10, 4)), 1, 1, CAST(N'2026-03-03T02:15:07.780' AS DateTime), 234, 1, NULL)
INSERT [dbo].[DetainedLicenses] ([DetainedLicenseID], [LicenseID], [DetainDate], [FineFees], [CreatedByUserID], [IsReleased], [ReleaseDate], [ReleaseApplicationID], [ReleasedByUserID], [Notes]) VALUES (47, 14, CAST(N'2026-03-01T13:23:52.043' AS DateTime), CAST(0.0000 AS Decimal(10, 4)), 1, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DetainedLicenses] OFF
GO
/****** Object:  Index [IX_DetainedLicenses_LicenseID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_DetainedLicenses_LicenseID] ON [dbo].[DetainedLicenses]
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetainedLicenses] ADD  DEFAULT (getdate()) FOR [DetainDate]
GO
ALTER TABLE [dbo].[DetainedLicenses] ADD  DEFAULT ((0)) FOR [IsReleased]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK__DetainedL__Creat__1F98B2C1] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK__DetainedL__Creat__1F98B2C1]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK__DetainedL__Licen__1DB06A4F] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[Licenses] ([LicenseID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK__DetainedL__Licen__1DB06A4F]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD FOREIGN KEY([ReleaseApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK__DetainedL__Relea__22751F6C] FOREIGN KEY([ReleasedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK__DetainedL__Relea__22751F6C]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [CHK_DetainedLicenses_DetainDate] CHECK  (([DetainDate]<=getdate()))
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [CHK_DetainedLicenses_DetainDate]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [CHK_DetainedLicenses_ReleaseDate] CHECK  (([ReleaseDate] IS NULL OR [ReleaseDate]>=[DetainDate]))
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [CHK_DetainedLicenses_ReleaseDate]
GO
