USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[SerialNumbers]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SerialNumbers](
	[SerialNumberID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumberName] [nvarchar](50) NOT NULL,
	[LatestSerialNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SerialNumberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SerialNumbers] ON 

INSERT [dbo].[SerialNumbers] ([SerialNumberID], [SerialNumberName], [LatestSerialNumber]) VALUES (1, N'Local driving licenses serial number', 20)
INSERT [dbo].[SerialNumbers] ([SerialNumberID], [SerialNumberName], [LatestSerialNumber]) VALUES (2, N'International driving licenses serial number', 8)
SET IDENTITY_INSERT [dbo].[SerialNumbers] OFF
GO
