USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[TestTypes]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTypes](
	[TestTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeTitle] [nvarchar](75) NOT NULL,
	[TestTypeDescription] [nvarchar](300) NOT NULL,
	[TestTypeFees] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TestTypes] ON 

INSERT [dbo].[TestTypes] ([TestTypeID], [TestTypeTitle], [TestTypeDescription], [TestTypeFees]) VALUES (1, N'Vision Test', N'This assesses the applicant''s visual acuity to ensure they have sufficient vision to drive safely.', CAST(10.0000 AS Decimal(10, 4)))
INSERT [dbo].[TestTypes] ([TestTypeID], [TestTypeTitle], [TestTypeDescription], [TestTypeFees]) VALUES (2, N'Written (Theory) Test', N'This test assesses the applicant''s knowledge of traffic rules, road signs, and driving regulations. It typically consists of multiple choice questions.', CAST(20.0000 AS Decimal(10, 4)))
INSERT [dbo].[TestTypes] ([TestTypeID], [TestTypeTitle], [TestTypeDescription], [TestTypeFees]) VALUES (3, N'Practical (Street) Test', N'This test evaluates the applicant''s driving skills and ability to operate a motor vehicle safely on public roads. A licensed examiner accompanies the applicant.', CAST(30.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[TestTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TestTypes_TestTypeName]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[TestTypes] ADD  CONSTRAINT [UQ_TestTypes_TestTypeName] UNIQUE NONCLUSTERED 
(
	[TestTypeTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestTypes]  WITH CHECK ADD  CONSTRAINT [CHK_TestTypes_TestTypeFees] CHECK  (([TestTypeFees]>(0)))
GO
ALTER TABLE [dbo].[TestTypes] CHECK CONSTRAINT [CHK_TestTypes_TestTypeFees]
GO
