USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[ApplicationTypes]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationTypes](
	[ApplicationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationTypeTitle] [nvarchar](75) NOT NULL,
	[ApplicationTypeFees] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_ApplicationTypes_ApplicationTypeID] PRIMARY KEY CLUSTERED 
(
	[ApplicationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApplicationTypes] ON 

INSERT [dbo].[ApplicationTypes] ([ApplicationTypeID], [ApplicationTypeTitle], [ApplicationTypeFees]) VALUES (1, N'New Local Driving License Service', CAST(25.0000 AS Decimal(10, 4)))
INSERT [dbo].[ApplicationTypes] ([ApplicationTypeID], [ApplicationTypeTitle], [ApplicationTypeFees]) VALUES (2, N'Renew Driving License Service', CAST(5.0000 AS Decimal(10, 4)))
INSERT [dbo].[ApplicationTypes] ([ApplicationTypeID], [ApplicationTypeTitle], [ApplicationTypeFees]) VALUES (3, N'Replacement for a Lost Driving License', CAST(10.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[ApplicationTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ApplicationTypes_ApplicationTypeName]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[ApplicationTypes] ADD  CONSTRAINT [UQ_ApplicationTypes_ApplicationTypeName] UNIQUE NONCLUSTERED 
(
	[ApplicationTypeTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
