USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[LoginRegister]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRegister](
	[LoginRegisterID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LoginTime] [smalldatetime] NOT NULL,
	[LogoutTime] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginRegisterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginRegister] ON 

INSERT [dbo].[LoginRegister] ([LoginRegisterID], [UserID], [LoginTime], [LogoutTime]) VALUES (141, 1, CAST(N'2026-01-28T14:30:00' AS SmallDateTime), CAST(N'2026-01-28T14:32:00' AS SmallDateTime))
INSERT [dbo].[LoginRegister] ([LoginRegisterID], [UserID], [LoginTime], [LogoutTime]) VALUES (142, 1, CAST(N'2026-01-28T14:31:00' AS SmallDateTime), CAST(N'2026-01-28T14:32:00' AS SmallDateTime))
INSERT [dbo].[LoginRegister] ([LoginRegisterID], [UserID], [LoginTime], [LogoutTime]) VALUES (143, 1, CAST(N'2026-01-28T14:32:00' AS SmallDateTime), CAST(N'2026-01-28T14:32:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[LoginRegister] OFF
GO
/****** Object:  Index [IX_LoginRegister_UserID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_LoginRegister_UserID] ON [dbo].[LoginRegister]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginRegister] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[LoginRegister]  WITH CHECK ADD  CONSTRAINT [FK__LoginRegi__UserI__4F7CD00D] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LoginRegister] CHECK CONSTRAINT [FK__LoginRegi__UserI__4F7CD00D]
GO
ALTER TABLE [dbo].[LoginRegister]  WITH CHECK ADD  CONSTRAINT [CHK_LoginRegister_LogoutTime] CHECK  (([LogoutTime] IS NULL OR [LoginTime]<=[LogoutTime]))
GO
ALTER TABLE [dbo].[LoginRegister] CHECK CONSTRAINT [CHK_LoginRegister_LogoutTime]
GO
