USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([DriverID], [PersonID], [CreationDate], [CreatedByUserID]) VALUES (14, 13, CAST(N'2026-02-27T18:23:43.410' AS DateTime), 1)
INSERT [dbo].[Drivers] ([DriverID], [PersonID], [CreationDate], [CreatedByUserID]) VALUES (15, 71, CAST(N'2026-02-27T18:55:47.060' AS DateTime), 1)
INSERT [dbo].[Drivers] ([DriverID], [PersonID], [CreationDate], [CreatedByUserID]) VALUES (16, 53, CAST(N'2026-02-28T17:32:32.553' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
/****** Object:  Index [UQ_Drivers_PersonID]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[Drivers] ADD  CONSTRAINT [UQ_Drivers_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK__Drivers__Created__02084FDA] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK__Drivers__Created__02084FDA]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK__Drivers__PersonI__7F2BE32F] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK__Drivers__PersonI__7F2BE32F]
GO
