USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantPersonID] [int] NOT NULL,
	[ApplicationTypeID] [int] NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[ApplicationStatus] [int] NOT NULL,
	[StatusModificationDate] [datetime] NULL,
	[PaidFees] [decimal](10, 4) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [ApplicantPersonID], [ApplicationTypeID], [ApplicationDate], [ApplicationStatus], [StatusModificationDate], [PaidFees], [CreatedByUserID]) VALUES (80, 14, 1, CAST(N'2026-02-18T19:27:06.833' AS DateTime), 3, CAST(N'2026-02-19T02:56:15.393' AS DateTime), CAST(25.0000 AS Decimal(10, 4)), 1)
INSERT [dbo].[Applications] ([ApplicationID], [ApplicantPersonID], [ApplicationTypeID], [ApplicationDate], [ApplicationStatus], [StatusModificationDate], [PaidFees], [CreatedByUserID]) VALUES (81, 14, 7, CAST(N'2026-02-19T02:52:58.050' AS DateTime), 3, CAST(N'2026-02-19T02:53:08.053' AS DateTime), CAST(5.0000 AS Decimal(10, 4)), 1)
INSERT [dbo].[Applications] ([ApplicationID], [ApplicantPersonID], [ApplicationTypeID], [ApplicationDate], [ApplicationStatus], [StatusModificationDate], [PaidFees], [CreatedByUserID]) VALUES (82, 13, 1, CAST(N'2026-02-19T03:18:50.157' AS DateTime), 3, CAST(N'2026-02-19T03:21:02.050' AS DateTime), CAST(25.0000 AS Decimal(10, 4)), 1)
GO
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
/****** Object:  Index [IX_Applications_ApplicantPersonID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ApplicantPersonID] ON [dbo].[Applications]
(
	[ApplicantPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ((1)) FOR [ApplicationStatus]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK__Applicati__Appli__5812160E] FOREIGN KEY([ApplicantPersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK__Applicati__Appli__5812160E]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK__Applicati__Creat__5BE2A6F2] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK__Applicati__Creat__5BE2A6F2]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_ApplicationTypes] FOREIGN KEY([ApplicationTypeID])
REFERENCES [dbo].[ApplicationTypes] ([ApplicationTypeID])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_ApplicationTypes]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CHK_Applications_ApplicationStatus] CHECK  (([ApplicationStatus]=(3) OR [ApplicationStatus]=(2) OR [ApplicationStatus]=(1)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CHK_Applications_ApplicationStatus]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CHK_Applications_PaidFees] CHECK  (([PaidFees]>(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CHK_Applications_PaidFees]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CHK_Applications_StatusModificationDate] CHECK  (([StatusModificationDate] IS NULL OR [StatusModificationDate]>=[ApplicationDate]))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CHK_Applications_StatusModificationDate]
GO
