USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[InternationalLicenses]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternationalLicenses](
	[InternationalLicenseID] [int] IDENTITY(1,1) NOT NULL,
	[InternationalSerialNumber] [nvarchar](25) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Internat__E1C45654606E1CC2] PRIMARY KEY CLUSTERED 
(
	[InternationalLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InternationalLicenses] ON 

INSERT [dbo].[InternationalLicenses] ([InternationalLicenseID], [InternationalSerialNumber], [LicenseID], [DriverID], [ApplicationID], [IssueDate], [ExpirationDate], [IsActive], [CreatedByUserID]) VALUES (6, N'IL-2026-000001', 7, 15, 211, CAST(N'2026-02-27T00:00:00.000' AS DateTime), CAST(N'2036-02-27T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[InternationalLicenses] ([InternationalLicenseID], [InternationalSerialNumber], [LicenseID], [DriverID], [ApplicationID], [IssueDate], [ExpirationDate], [IsActive], [CreatedByUserID]) VALUES (7, N'IL-2026-000002', 10, 17, 216, CAST(N'2026-02-28T00:00:00.000' AS DateTime), CAST(N'2036-02-28T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[InternationalLicenses] ([InternationalLicenseID], [InternationalSerialNumber], [LicenseID], [DriverID], [ApplicationID], [IssueDate], [ExpirationDate], [IsActive], [CreatedByUserID]) VALUES (8, N'IL-2026-000003', 15, 18, 225, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2036-03-01T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[InternationalLicenses] OFF
GO
/****** Object:  Index [UQ_InternationalLicenses_ApplicationID]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [UQ_InternationalLicenses_ApplicationID] UNIQUE NONCLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InternationalLicenses_DriverID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_InternationalLicenses_DriverID] ON [dbo].[InternationalLicenses]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InternationalLicenses_LicenseID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_InternationalLicenses_LicenseID] ON [dbo].[InternationalLicenses]
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [DF__Internati__Issue__160F4887]  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[InternationalLicenses] ADD  CONSTRAINT [DF__Internati__IsAct__17036CC0]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK__Internati__Appli__151B244E] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK__Internati__Appli__151B244E]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK__Internati__Creat__17F790F9] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK__Internati__Creat__17F790F9]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK__Internati__Drive__14270015] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK__Internati__Drive__14270015]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK__Internati__Licen__1332DBDC] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[Licenses] ([LicenseID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK__Internati__Licen__1332DBDC]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [CHK_InternationalLicenses_ExpirationDate] CHECK  (([ExpirationDate]>[IssueDate]))
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [CHK_InternationalLicenses_ExpirationDate]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [CHK_InternationalLicenses_IssueDate] CHECK  (([IssueDate]<=getdate()))
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [CHK_InternationalLicenses_IssueDate]
GO
