USE [DVLD_DB]
GO
/****** Object:  View [dbo].[InternationalLicenseListInfo_View]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[InternationalLicenseListInfo_View] AS


SELECT IL.InternationalLicenseID,
	   IL.InternationalSerialNumber,
	   IL.ApplicationID,
	   IL.DriverID,
	   P.NationalNo,
	   P.FirstName,
	   P.SecondName,
	   P.ThirdName,
	   P.LastName,
	   IL.LicenseID,
	   IL.IssueDate,
	   IL.ExpirationDate,
	   IL.IsActive

FROM InternationalLicenses AS IL

INNER JOIN Applications AS Apps
	ON IL.ApplicationID = Apps.ApplicationID

INNER JOIN Drivers AS D
	ON IL.DriverID = D.DriverID

INNER JOIN People AS P
	ON D.PersonID = P.PersonID;
GO
