USE [DVLD_DB]
GO
/****** Object:  View [dbo].[DriversListInfo_View]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DriversListInfo_View] AS
(
SELECT D.DriverID,
	   D.PersonID,
	   P.NationalNo,
	   P.FirstName,
	   P.SecondName,
	   P.ThirdName,
	   P.LastName,
	   D.CreationDate,
	   (SELECT COUNT(*) FROM Licenses WHERE DriverID = D.DriverID AND IsActive = 1) AS ActiveLicenses

FROM Drivers AS D
INNER JOIN People AS P
	ON P.PersonID = D.PersonID
);
GO
