USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[People]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[NationalNo] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[SecondName] [nvarchar](25) NULL,
	[ThirdName] [nvarchar](25) NULL,
	[LastName] [nvarchar](25) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CountryID] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[IsMarkedToDelete] [bit] NOT NULL,
 CONSTRAINT [PK__People__AA2FFB859FF4CBC9] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [NationalNo], [FirstName], [SecondName], [ThirdName], [LastName], [Gender], [BirthDate], [Phone], [Email], [Address], [CountryID], [ImagePath], [IsMarkedToDelete]) VALUES (13, N'N100', N'Yahya', NULL, NULL, N'Mazini', N'M', CAST(N'2008-01-16T00:00:00.000' AS DateTime), N'12341412241', N'Yahya@gmail.com', N'Koko st 3', 115, NULL, 0)
INSERT [dbo].[People] ([PersonID], [NationalNo], [FirstName], [SecondName], [ThirdName], [LastName], [Gender], [BirthDate], [Phone], [Email], [Address], [CountryID], [ImagePath], [IsMarkedToDelete]) VALUES (14, N'N1', N'Youssef', NULL, NULL, N'Mazini', N'M', CAST(N'2006-10-10T00:00:00.000' AS DateTime), N'14141451', N'kkk@gmail.com', N'st ben chaib kkk', 142, N'C:\Users\user\Desktop\DVLD\People Images\2778de50-0fa7-4560-9b6d-d4cbc3175913.bmp', 0)
INSERT [dbo].[People] ([PersonID], [NationalNo], [FirstName], [SecondName], [ThirdName], [LastName], [Gender], [BirthDate], [Phone], [Email], [Address], [CountryID], [ImagePath], [IsMarkedToDelete]) VALUES (23, N'N101', N'Mariem', NULL, NULL, N'Mazini', N'F', CAST(N'2007-10-07T00:00:00.000' AS DateTime), N'3452345', N'kkkkkk@gmail.com', N'adjfkasd', 139, NULL, 0)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_People_Email]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [UQ_People_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_People_NationalNo]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [UQ_People_NationalNo] UNIQUE NONCLUSTERED 
(
	[NationalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_People_Phone]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [UQ_People_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF__People__IsMarked__4316F928]  DEFAULT ((0)) FOR [IsMarkedToDelete]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK__People__CountryI__4222D4EF] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK__People__CountryI__4222D4EF]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CHK_People_BirthDate] CHECK  (([BirthDate]<=dateadd(year,(-18),getdate()) AND [BirthDate]>=dateadd(year,(-60),getdate())))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CHK_People_BirthDate]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CHK_People_Email] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CHK_People_Email]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CHK_People_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CHK_People_Gender]
GO
