USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[LicenseID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](25) NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[PaidFees] [decimal](10, 4) NOT NULL,
	[IssueReason] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Licenses__72D600A22C4B36CF] PRIMARY KEY CLUSTERED 
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Licenses] ON 

INSERT [dbo].[Licenses] ([LicenseID], [SerialNumber], [LicenseClassID], [ApplicationID], [DriverID], [IssueDate], [ExpirationDate], [PaidFees], [IssueReason], [Notes], [IsActive], [CreatedByUserID]) VALUES (2, N'L-2026-000001', 3, 195, 14, CAST(N'2026-02-27T18:32:49.520' AS DateTime), CAST(N'2036-02-27T00:00:00.000' AS DateTime), CAST(20.0000 AS Decimal(10, 4)), 1, N'fadsfasdfa', 1, 1)
INSERT [dbo].[Licenses] ([LicenseID], [SerialNumber], [LicenseClassID], [ApplicationID], [DriverID], [IssueDate], [ExpirationDate], [PaidFees], [IssueReason], [Notes], [IsActive], [CreatedByUserID]) VALUES (3, N'L-2026-000002', 1, 197, 15, CAST(N'2026-02-27T18:55:47.073' AS DateTime), CAST(N'2031-02-27T00:00:00.000' AS DateTime), CAST(15.0000 AS Decimal(10, 4)), 1, NULL, 0, 1)
INSERT [dbo].[Licenses] ([LicenseID], [SerialNumber], [LicenseClassID], [ApplicationID], [DriverID], [IssueDate], [ExpirationDate], [PaidFees], [IssueReason], [Notes], [IsActive], [CreatedByUserID]) VALUES (4, N'L-2026-000003', 3, 196, 15, CAST(N'2024-02-27T18:56:29.353' AS DateTime), CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(20.0000 AS Decimal(10, 4)), 1, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Licenses] OFF
GO
/****** Object:  Index [UQ_Licenses_ApplicationID]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [UQ_Licenses_ApplicationID] UNIQUE NONCLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Licenses_SerialNumber]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [UQ_Licenses_SerialNumber] UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licenses_DriverID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_Licenses_DriverID] ON [dbo].[Licenses]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licenses_LicenseClassID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_Licenses_LicenseClassID] ON [dbo].[Licenses]
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF__Licenses__IssueD__09A971A2]  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [DF__Licenses__IsActi__0A9D95DB]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Applic__07C12930] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Applic__07C12930]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Create__0B91BA14] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Create__0B91BA14]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Driver__08B54D69] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Driver__08B54D69]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Licens__06CD04F7] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([LicenseClassID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Licens__06CD04F7]
GO
