USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[TestAppointments]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestAppointments](
	[TestAppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[LocalDrivingLicenseApplicationID] [int] NOT NULL,
	[TestAppointmentDate] [datetime] NOT NULL,
	[PaidFees] [decimal](10, 4) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[RetakeTestApplicationID] [int] NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestAppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TestAppointments] ON 

INSERT [dbo].[TestAppointments] ([TestAppointmentID], [TestTypeID], [LocalDrivingLicenseApplicationID], [TestAppointmentDate], [PaidFees], [IsLocked], [RetakeTestApplicationID], [CreatedByUserID]) VALUES (168, 1, 79, CAST(N'2026-02-27T00:00:00.000' AS DateTime), CAST(10.0000 AS Decimal(10, 4)), 1, NULL, 1)
INSERT [dbo].[TestAppointments] ([TestAppointmentID], [TestTypeID], [LocalDrivingLicenseApplicationID], [TestAppointmentDate], [PaidFees], [IsLocked], [RetakeTestApplicationID], [CreatedByUserID]) VALUES (169, 2, 79, CAST(N'2026-02-27T00:00:00.000' AS DateTime), CAST(20.0000 AS Decimal(10, 4)), 1, NULL, 1)
INSERT [dbo].[TestAppointments] ([TestAppointmentID], [TestTypeID], [LocalDrivingLicenseApplicationID], [TestAppointmentDate], [PaidFees], [IsLocked], [RetakeTestApplicationID], [CreatedByUserID]) VALUES (170, 3, 79, CAST(N'2026-02-27T00:00:00.000' AS DateTime), CAST(30.0000 AS Decimal(10, 4)), 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[TestAppointments] OFF
GO
/****** Object:  Index [IX_TestAppointments_LocalLicenseApplicationID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE NONCLUSTERED INDEX [IX_TestAppointments_LocalLicenseApplicationID] ON [dbo].[TestAppointments]
(
	[LocalDrivingLicenseApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TestAppointments_RetakeTestApplicationID]    Script Date: 04/06/2026 14:56:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_TestAppointments_RetakeTestApplicationID] ON [dbo].[TestAppointments]
(
	[RetakeTestApplicationID] ASC
)
WHERE ([RetakeTestApplicationID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestAppointments] ADD  DEFAULT (getdate()) FOR [TestAppointmentDate]
GO
ALTER TABLE [dbo].[TestAppointments] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK__TestAppoi__Creat__76969D2E] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK__TestAppoi__Creat__76969D2E]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD FOREIGN KEY([LocalDrivingLicenseApplicationID])
REFERENCES [dbo].[LocalDrivingLicensesApplications] ([LocalDrivingLicenseApplicationID])
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD FOREIGN KEY([RetakeTestApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestTypes] ([TestTypeID])
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [CHK_TestAppointments_PaidFees] CHECK  (([PaidFees]>(0)))
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [CHK_TestAppointments_PaidFees]
GO
