USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[LicenseClasses]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseClasses](
	[LicenseClassID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseClassName] [nvarchar](75) NOT NULL,
	[LicenseClassDescription] [nvarchar](300) NOT NULL,
	[MinimumAgeAllowed] [int] NOT NULL,
	[DefaultValidityLength] [int] NOT NULL,
	[ClassFees] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LicenseClasses] ON 

INSERT [dbo].[LicenseClasses] ([LicenseClassID], [LicenseClassName], [LicenseClassDescription], [MinimumAgeAllowed], [DefaultValidityLength], [ClassFees]) VALUES (1, N'Class 1 - Small Motorcycle', N'It allows the driver to drive small motorcycles, It is suitable for beginners.', 18, 5, CAST(15.0000 AS Decimal(10, 4)))
INSERT [dbo].[LicenseClasses] ([LicenseClassID], [LicenseClassName], [LicenseClassDescription], [MinimumAgeAllowed], [DefaultValidityLength], [ClassFees]) VALUES (2, N'Class 2 - Heavy Motorcycle', N'Heavy Motorcycle License (Large Motorcycle License).', 21, 5, CAST(30.0000 AS Decimal(10, 4)))
INSERT [dbo].[LicenseClasses] ([LicenseClassID], [LicenseClassName], [LicenseClassDescription], [MinimumAgeAllowed], [DefaultValidityLength], [ClassFees]) VALUES (3, N'Class 3 - Ordinary Driving', N'Ordinary driving license (car licence)', 18, 10, CAST(20.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[LicenseClasses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LicenseClasses_LicenseClassName]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[LicenseClasses] ADD  CONSTRAINT [UQ_LicenseClasses_LicenseClassName] UNIQUE NONCLUSTERED 
(
	[LicenseClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenseClasses] ADD  DEFAULT ((18)) FOR [MinimumAgeAllowed]
GO
ALTER TABLE [dbo].[LicenseClasses]  WITH CHECK ADD  CONSTRAINT [CHK_LicenseClasses_ClassFees] CHECK  (([ClassFees]>(0)))
GO
ALTER TABLE [dbo].[LicenseClasses] CHECK CONSTRAINT [CHK_LicenseClasses_ClassFees]
GO
ALTER TABLE [dbo].[LicenseClasses]  WITH CHECK ADD  CONSTRAINT [CHK_LicenseClasses_MinimumAgeAllowed] CHECK  (([MinimumAgeAllowed]>=(18)))
GO
ALTER TABLE [dbo].[LicenseClasses] CHECK CONSTRAINT [CHK_LicenseClasses_MinimumAgeAllowed]
GO
