USE [DVLD_DB]
GO
/****** Object:  Table [dbo].[LocalDrivingLicensesApplications]    Script Date: 04/06/2026 14:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDrivingLicensesApplications](
	[LocalDrivingLicenseApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[PassedTests] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalDrivingLicenseApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LocalDrivingLicensesApplications] ON 

INSERT [dbo].[LocalDrivingLicensesApplications] ([LocalDrivingLicenseApplicationID], [ApplicationID], [LicenseClassID], [PassedTests]) VALUES (79, 195, 3, 3)
INSERT [dbo].[LocalDrivingLicensesApplications] ([LocalDrivingLicenseApplicationID], [ApplicationID], [LicenseClassID], [PassedTests]) VALUES (80, 196, 3, 3)
INSERT [dbo].[LocalDrivingLicensesApplications] ([LocalDrivingLicenseApplicationID], [ApplicationID], [LicenseClassID], [PassedTests]) VALUES (81, 197, 1, 3)
SET IDENTITY_INSERT [dbo].[LocalDrivingLicensesApplications] OFF
GO
/****** Object:  Index [UQ_LocalLicensesApplications_ApplicationID]    Script Date: 04/06/2026 14:56:04 ******/
ALTER TABLE [dbo].[LocalDrivingLicensesApplications] ADD  CONSTRAINT [UQ_LocalLicensesApplications_ApplicationID] UNIQUE NONCLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocalDrivingLicensesApplications] ADD  DEFAULT ((0)) FOR [PassedTests]
GO
ALTER TABLE [dbo].[LocalDrivingLicensesApplications]  WITH CHECK ADD FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[LocalDrivingLicensesApplications]  WITH CHECK ADD FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([LicenseClassID])
GO
